.c-header {
  align-items: center;
  background-color: get-color(header-bg);
  display: flex;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

  .c-header__logo {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: get-size(gutter);
  }

  .c-header__spacer {
    width: (get-size(gutter) * 2) + get-size(nav-btn-width)
  }

  .c-header__svg {
    height: 20px;
  }
