.c-nav {
  .has-js & {
    display: none;
  }

  &.is-visible {
    background-color: rgba(0,0,0,0.8);
    display: block;
    height: 100%;
    padding-top: get-size(logo-height) + (get-size(gutter) * 2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

  .c-nav__list {
    list-style: none;
    margin: 0;
    padding: get-size(gutter);
    text-align: center;
  }

  .c-nav__list-item {
    margin-bottom: get-size(gutter);
  }

  .c-nav__list-link {
    text-decoration: none;
  }

.c-nav-btn {
  background: none;
  border: 0;
  display: flex;
  padding: get-size(gutter);
}

  .c-nav-btn__back {
    height: get-size(nav-btn-height);
    position: relative;
    width: get-size(nav-btn-width);
  }

  .c-nav-btn__chevron {
    border-color: get-color(nav-btn-line);
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 12px;
    left: 6px;
    position: relative;
    transform: rotate(-135deg);
    width: 12px;
  }

  .c-nav-btn__hamburger {
    height: get-size(nav-btn-height);
    position: relative;
    width: get-size(nav-btn-width);
  }

  .c-nav-btn__lines {
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;

    &, &::after, &::before {
      background-color: get-color(nav-btn-line);
      content: ' ';
      display: inline-block;
      height: 2px;
      left: 0;
      width: get-size(nav-btn-width);
    }

    &::after {
      position: absolute;
      top: 8px;
      transition: top 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);

      .is-active & {
        top: 0;
        transform: rotate(-90deg);
        transition: top 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
      }
    }

    &::before {
      position: absolute;
      top: -8px;
      transition: top 75ms ease .12s, opacity 75ms ease;

      .is-active & {
        opacity: 0;
        top: 0;
        transition: top 75ms ease, opacity 75ms ease .12s;
      }
    }

    .is-active & {
      transform: rotate(45deg);
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);
    }
  }
