.c-heading {
  font-family: 'bebas-neue';
  line-height: 0.9
}

.c-heading--h1 {
  font-size: 40px;
  letter-spacing: 0.25px;
}

.c-heading--h2 {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.c-heading--h3 {
  font-size: 18px;
  letter-spacing: 1px;
}
