---
layout: default
back: "/events.html"
---
{% if page.image_detail %}
  <div class="c-image-aspect c-image-aspect--event">
    <div class="c-image-aspect__content" style="background-image: url({{ page.image_detail.url | cf_image_url: 900 }})"></div>
  </div>
{% endif %}
<div class="o-wrapper c-markdown">
  <h1 class="c-heading c-heading--h1 c-event__title">{{ page.title }}</h1>
  <p class="c-event__date">{{ page.date | date: '%A, %H:%M' }} @ {{ page.venue.name }}</p>
  {% if page.entry %}<span class="c-tape c-tape--entry c-heading c-heading--h3">{{ page.entry }}</span>{% endif %}
  {% if page.dress_code %}<span class="c-tape c-heading c-heading--h3">{{ page.dress_code }}</span>{% endif %}
  {{ page.details | markdownify }}
</div>
