<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ site.title }}</title>

  <style>
    body { background-color: #000; margin: 0; }
    body, html { height: 100%; }
    .logo { width: 100px; }
    .wrapper { display: flex; align-items: center; height: 100%; justify-content: center; }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 660 660"><rect fill="#fff" x="264.25" y="265.25" width="130" height="130"/><polygon fill="#fff" points="660 0 0 0 0 660 399.75 660 399.75 531 130 531 130 131 530 131 530 531 529.75 531 529.75 660 660 660 660 0"/></svg></svg>
    </div>
  </div>
</body>
</html>
