<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1>{{ site.title }}</h1>

  <ul>
  {% for item in site.data.contentful.spaces.mrm.settings[0].menu %}
    <li><a href="{{ item.title | datapage_url: '' | replace: 'home.html', '' }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>
  <ul>
  {% for item in site.data.contentful.spaces.mrm.settings[0].home_grid %}
      <li><a href="{{ item.title | datapage_url: '' }}">{{ item.title }}</a></li>
  {% endfor %}
  </ul>

</body>
</html>
